.dropdown {
    margin: 0 auto;
    margin-left: 50%;
    margin-right: 50%;
    background-color: forestgreen;
}
.dropdown-menu {
    background-color: aquamarine;
}
#dropdownMenuButton {
    padding: 10px;
    background-color: forestgreen;
}